/*
 *= require bootstrap.min.css
 *= require_tree .
 *= require_self
 */

body {
  background: url("sf.jpeg") no-repeat center center fixed;

  -webkit-background-size: 100% auto;

  -moz-background-size: 100% auto;

  -ms-background-size: 100% auto;

  -o-background-size: 100% auto;

  background-size: 100% auto;
}

.navbar ul {
  color: white;
}
