/*
*= require bootstrap.min
 *= require_self
 *= require_tree .
 */

body {
  background: url("sf.jpeg") no-repeat center center fixed;

  -webkit-background-size: 100% auto;

  -moz-background-size: 100% auto;

  -ms-background-size: 100% auto;

  -o-background-size: 100% auto;

  background-size: 100% auto;
}
.alert-info {
background-color: rgba(44, 62, 80,0.2);
border-style: hidden;
color: #ecf0f1;
}
.flash {
  margin: auto;
  width: 100%;
}
.btn-default {
  background-color: #ecf0f1;
}

.profile-show {
  color: #ecf0f1

}
.form-control {
  width: 50%;
  opacity: 0.8;
}
.new-user-form {
  width: 40%;
  margin: auto;
  color: #ecf0f1;
  font-weight: bolder;
  font-size: 1.3em;
}

.jumbotron {
  background-color: transparent;
  color: #ecf0f1;
  text-align: center;
}
.jumbotron h1 {
  font-size: 200px;
  -webkit-box-reflect: below 100px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent) , to(rgba(250, 250, 250, 0.1)));

}
.navbar {
  /*background-color: rgb(102, 96, 102);*/
  background-color: rgba(44, 62, 80,0.2);
  color: #ecf0f1;
}
.navbar-brand{
  color: #ecf0f1;
}
.navbar-brand:hover{
  color: rgba(44, 62, 80,1);
  background-color: #ecf0f1;
  /*opacity: 1;*/
}
.navbar-nav li a {
  color: #ecf0f1;
  right: +40px;
}
.navbar-nav  li a:hover{
  color: rgba(44, 62, 80,1);
  /*opacity: 1;*/
}
