/*
*= require bootstrap.min
 *= require_self
 *= require_tree .
 */
html,
body,

body {
  background-color: #ecf0f1;
}
.homepage {
  height: 100%;
}
.homepage {
  background: url("http://i.imgur.com/T3cmMd1.jpg") no-repeat center center fixed;

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -ms-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

  min-width: 100%;
  min-height: 100%;
}
.page {
  background: url("http://i.imgur.com/T3cmMd1.jpg") no-repeat center;
  -webkit-background-size: 100%;

  -moz-background-size: 100%;

  -ms-background-size: 100%;

  -o-background-size: 100%;

  background-size: 100%;

  height: 380px;

}
.profile-show{
  color: #ecf0f1;
}
.profile-info{
  position: fixed;
  text-align: left;
  width: 40%;
  left: 20%;
  top: 10%;
  color: #ecf0f1;
}
.delete {
  float: right;
  border-style: none;
  color: red;
  background-color: #ecf0f1;
  font-size: 0.6em;
}
.alert-info {
  background-color: rgba(44, 62, 80,0.2);
  border-style: hidden;
  color: #ecf0f1;
}
.flash {
  margin: auto;
  width: 100%;
}
.btn-default {
  background-color: #ecf0f1;
}
.btn-default:hover {
  border-color: #ecf0f1;
}

.profile-content {
  position: absolute;
  color: rgba(44, 62, 80,1);
  top: 48%;
  font-size: 2em;
}
.form-control {
  width: 50%;
  opacity: 0.8;
}

.new-user-form {
  width: 40%;
  margin: auto;
  color: #ecf0f1;
  font-weight: bolder;
  font-size: 1.3em;
}
.new-user-form .btn-default {
  width: 50%;
  background-color: rgba(44, 62, 80,0.2);
  color: #ecf0f1;
}

.jumbotron {
  background-color: transparent;
  color: #ecf0f1;
  text-align: center;

}
.jumbotron h1 {
  font-size: 200px;
  min-height: 40%;
  -webkit-box-reflect: below 100px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, transparent) , to(rgba(250, 250, 250, 0.1)));

}

.navbar {
  /*background-color: rgb(102, 96, 102);*/
  background-color: rgba(44, 62, 80,0.2);
  color: #ecf0f1;
}
.navbar-brand{
  color: #ecf0f1;
}
.glyphicon{
  color: #ecf0f1;
  font-size: 2em;
}
.glyphicon:hover{
  color: rgba(44, 62, 80,1);
}
.navbar-brand:hover{
  color: rgba(44, 62, 80,1);
  background-color: #ecf0f1;
  /*opacity: 1;*/
}
.navbar-nav li a {
  color: #ecf0f1;
}
.navbar-nav li {
  line-height: 50px;
  margin-right: 30px;
}
.navbar-nav  li a:hover{
  color: rgba(44, 62, 80,1);
  /*opacity: 1;*/
}


@media only screen and (max-width: 479px) {.jumbotron h1 {font-size: 100px;}}
@media only screen and (max-width: 640px) {.jumbotron h1 {font-size: 90px;}}
@media only screen and (max-width: 480px) {.jumbotron h1 {font-size: 60px;}}
@media only screen and (max-width: 375px) {.jumbotron h1 {font-size: 50px;}}

.guide-text {
  color: #ecf0f1;
  text-align: center;
}
.image {
  position: relative;;
  padding: 12px;
  width: 240px;
  height: 268px;
  left: 2%;
}
/*.img-circle {
  right: -100px;
}*/
#city {
  color: rgba(44, 62, 80,1);
}
