<div class="">
<strong>Title:</strong><h1><%= @post.title%></h1>
</div>
<div class="">
  <strong>City:</strong><%= @post.city%>
</div>
<div class="">
  <strong>Story:</strong><p><%= @post.story%></p>
</div>
